body {
    width: 800px;
    height: 500px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
}

#boo_timer {
    width: 600px;
    height: 320px;
    border: 2px solid black;
    border-radius: 8px;
    margin: auto;
    padding-top: 20px;
    background: #186077;
}

#title {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.0em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

#time_panel {
    width: 600px;
    height: 80px;
    /* border: 1px solid black; */
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.4em;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

#control_panel {
    width: 600px;
    height: 40px;
    /* border: 1px solid black; */
    margin: auto;
    padding-bottom: 40px;
}

.control_button {
    width: 120px;
    height: 40px;
    border: 1px solid white;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.4em;
    color: white;
    background: orange;
    cursor: pointer;
    margin-right: 10px;
}

#sample {
    width: 600px;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.0em;
    color: orange;
    text-align: center;
}
